<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>City</title>
    <style>
        .card {
            width: 500px;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="card">
    <h1>City: <span th:text="${city.name}">City Name</span></h1>
    <p>Description: <span th:text="${city.description}">City Description</span></p>
</div>

<div class="card">
    <h2>Accommodations</h2>
    <ul>
        <li th:each="accommodation : ${city.accommodations}">
            <h3><span th:text="${accommodation.name}">Accommodation Name</span></h3>
            <p>Description: <span th:text="${accommodation.description}">Accommodation Description</span></p>
            <p>Rating: <span th:text="${accommodation.rating}">Accommodation Rating</span></p>
        </li>
    </ul>
</div>

<div class="card">
    <h2>Attractions</h2>
    <ul>
        <li th:each="attraction : ${city.attractions}">
            <h3><span th:text="${attraction.name}">Attraction Name</span></h3>
            <p>Description: <span th:text="${attraction.description}">Attraction Description</span></p>
            <p>Rating: <span th:text="${attraction.rating}">Attraction Rating</span></p>
        </li>
    </ul>
</div>
</body>
</html>
